
@mixin resetBoxModel($padding:true,$margin:true,$border:true){
  @if($padding){
    padding : 0;
  }

  @if($margin){
    margin : 0;
  }

  @if($border){
    border : 0;
  }
}

@mixin debugBorders($color){
  border-style : solid;
  border-width : 1px;
  border-color : $color;
}


@mixin resetAll{
  @include resetMarginPadding;
  font-size : 100%;
  line-height :1;
}

@mixin clearfix{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin calcWidth($expression){
  width: -webkit-calc($expression);
  width:    -moz-calc($expression);
  width:         calc($expression);
}


@function str-split($string, $separator) {
    // empty array/list
    $split-arr: ();
    // first index of separator in string
    $index : str-index($string, $separator);
    // loop through string
    @while $index != null {
        // get the substring from the first character to the separator
        $item: str-slice($string, 1, $index - 1);
        // push item to array
        $split-arr: append($split-arr, $item);
        // remove item and separator from string
        $string: str-slice($string, $index + 1);
        // find new index of separator
        $index : str-index($string, $separator);
    }
    // add the remaining string to list (the last item)
    $split-arr: append($split-arr, $string);

    @return $split-arr;
}
